<div class="main-container ng-scope flex" flex="" data-ui-view="" style=""><!-- uiView:  -->
    <ui-view class="ng-scope">
        <div class="main-content app-layout ng-scope">
            <section class="main-section" style="margin-bottom: -30px;">
                <header layout="row" layout-align="end center" class="layout-align-end-center layout-row"><a
                        class="md-raised md-primary operation md-button md-ink-ripple layout-align-end-center"
                        layout-align="end center" data-ui-sref="cluster.createcluster"
                        href="/cluster/createcluster" aria-label="新建集群"><span class="ng-scope">新建集群</span></a></header>
            </section>
            <!-- ngRepeat: cluster in clustersBasicData --></div>
    </ui-view>
</div>