<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Matrix Help</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/dashboard.css"/>
    <link rel="stylesheet" href="css/bootstrapValidator.css"/>
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="shortcut icon" type="image/x-icon" href="static/pics/favicon.ico"/>-->

    <script type="text/javascript" src="webjars/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="webjars/angularjs/1.4.6/angular.min.js"></script>
    <script type="text/javascript" src="webjars/angularjs/1.4.6/angular-route.min.js"></script>
    <script type="text/javascript" src="webjars/angularjs/1.4.6/angular-animate.js"></script>
    <script type="text/javascript" src="webjars/angular-ui-router/0.2.15/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="webjars/oclazyload/1.0.6/dist/ocLazyLoad.js"></script>
    <!--<script type="text/javascript" src="js/app.js"></script>-->
    <script type="text/javascript" src="js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="js/date.util.js"></script>
    <script type="text/javascript" src="js/util.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="page/logsManage/log.js"></script>


</head>
<body>
<div layout="row" class="main layout-row">
    <aside class="sidebar-main layout-column" data-ng-class="{'sidebar-main_two' : rootCtrl.isShortMenu}" layout="column">
        <div class="logo">
            <a href="#"><img src="pics/logo-white-full.svg" data-ng-show="!rootCtrl.isShortMenu" aria-hidden="false" class=""></a>
            <a href="#"><img src="pics/logo-white-small.jpg" data-ng-show="rootCtrl.isShortMenu" aria-hidden="true" class="ng-hide"></a>
        </div>
        <div class="menu-sidebar layout-align-space-between-stretch layout-column flex" flex="" layout-align="space-between stretch" layout="column">
            <ul>
                <li data-ui-sref-active="active" title="首页" class="active">
                    <a class="md-button md-ink-ripple" ng-transclude="" data-ui-sref="dashboard" data-ui-sref-opts="{inherit: false}" href="/dashboard" aria-label="首页">
                        <i class="fa fa-tachometer ng-scope"></i><span class="ng-scope">
                        首页
                    </span><div class="md-ripple-container"></div></a>
                </li>
                <li title="应用管理" data-ui-sref-active="active" class="">
                    <a class="md-button md-ink-ripple" ng-transclude="" data-ui-sref="app" data-ui-sref-opts="{inherit: false}" href="/app" aria-label="应用管理"><i class="fa fa-cube ng-scope"></i><span class="ng-scope">应用管理
                    </span><div class="md-ripple-container"></div></a>
                </li>
                <li data-ui-sref-active="active" title="服务策略">
                    <a class="md-button md-ink-ripple" ng-transclude="" data-ui-sref="policy" data-ui-sref-opts="{inherit: false}" href="/policy" aria-label="服务策略"><i class="fa fa-clock-o ng-scope"></i><span class="ng-scope">服务策略
                    </span></a>
                </li>
                <li data-ui-sref-active="active" title="应用目录">
                    <a class="md-button md-ink-ripple" ng-transclude="" data-ui-sref="repository" data-ui-sref-opts="{inherit: false}" href="/repository" aria-label="应用目录"><i class="fa fa-shopping-cart ng-scope"></i><span class="ng-scope">应用目录
                    </span></a>
                </li>
                <li data-ui-sref-active="active" title="镜像构建">
                    <a class="md-button md-ink-ripple" ng-transclude="" data-ui-sref="image" data-ui-sref-opts="{inherit: false}" href="/image" aria-label="镜像构建"><i class="fa fa-cogs ng-scope"></i><span class="ng-scope">镜像构建
                    </span></a>
                </li>
                <li data-ui-sref-active="active" title="日志查询">
                    <a class="md-button md-ink-ripple" ng-transclude="" data-ui-sref="log" data-ui-sref-opts="{inherit: false}" href="/log" aria-label="日志查询"><i class="fa fa-search ng-scope"></i><span class="ng-scope">日志查询
                    </span></a>
                </li>
                <li data-ui-sref-active="active" title="集群管理">
                    <a class="md-button md-ink-ripple" ng-transclude="" data-ui-sref="cluster" data-ui-sref-opts="{inherit: false}" href="/cluster" aria-label="集群管理"><i class="fa fa-server ng-scope"></i><span class="ng-scope">集群管理
                    </span></a>
                </li>
            </ul>
        </div>
    </aside>
    <div layout="column" flex="" class="layout-column flex">
        <nav class="nav-main">

        </nav>
        <div class="main-container ng-scope flex" flex="" data-ui-view="" style="">
            <ui-view class="ng-scope">
                <hr style="color: red;">33<br>gvedfdf<br>gvedfdf<br>gvedfdf<br>gvedfdf
            </ui-view>
        </div>
    </div>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2 md-closed ng-isolate-scope" md-component-id="noticeNav" tabindex="-1">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">公告栏</h1>
        </md-toolbar>
        <md-content layout-padding="" class="layout-padding">
            <div>
                <md-content>
                    <!-- ngIf: !rootCtrl.noticeHtml --><div data-ng-if="!rootCtrl.noticeHtml" class="ng-scope">暂无公告</div><!-- end ngIf: !rootCtrl.noticeHtml -->
                    <div data-ng-bind-html="rootCtrl.noticeHtml" class="ng-binding"></div>
                </md-content>
            </div>
        </md-content>
    </md-sidenav>
</div>
<div class="tab-rb-feedback ng-hide" style="bottom: 76px;" ng-show="notInDemoGroup &amp;&amp; demoGroupId" aria-hidden="true">
    <a href="#" data-ng-click="rootCtrl.openJoinDemoGroupModal()" data-demo-disable="" class="">
        <i class="glyphicon glyphicon-gift"></i>
        <em>试用</em>
    </a>
</div>

</body>
</html>